* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Raleway', sans-serif;
	background-color: royalblue;
}

.hero {
	margin-top: 10vh;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	height: 70vw;
	background-color: burlywood;
}

.head {
	/* position: absolute; */
	margin-top: 10%;
	margin-left: auto;margin-right: auto;
	width: 40%;
	height: 20vw;
	background: black;
	border-radius: 10% 10% 0 0;
	/* left: 50%; */
  /* margin-left: -20%; */
}
.eyes {
  display: flex;
}

.l-eye {
margin-top: 30%;
margin-left: auto;
margin-right: auto;
width: 20px;
height: 10px;
background-color: yellow;
border-radius: 0% 80% 0% 80%;
}

.r-eye {
margin: auto;
margin-top: 30%;
margin-left: auto;
margin-right: auto;
width: 20px;
height: 10px;
background-color: yellow;
border-radius: 80% 0% 80% 0%;
}

.mouths {
margin-top: 30%;
margin-left: auto;
margin-right: auto;
width: 40px;
height: 15px;
background-color: yellow;
border-radius: 10%;
}

/*  */