* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
}

.coord {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80vh;
  width: 60vh;
}
.hero__head {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 10%;
  background-color: black;
  width: 20%;
  height: 13%;
  border-radius: 40% 40% 60% 60%/80% 80% 40% 40%;
}
.hero__head::before, .hero__head::after {
  content: "";
  position: absolute;
  top: -45%;
  background-color: black;
  height: 110%;
  width: 20%;
}
.hero__head::before {
  left: -1%;
  border-radius: 80% 15% 0% 0%/100% 60% 0% 0%;
}
.hero__head::after {
  right: 1%;
  border-radius: 15% 80% 0% 0%/60% 100% 0% 0%;
}
.hero__head__eyes {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 30%;
  width: 100%;
  height: 14%;
}
.hero__head__eyes__l-eye, .hero__head__eyes__r-eye {
  margin: 0 7%;
  width: 22%;
  height: 90%;
  background-color: rgb(131, 98, 55);
}
.hero__head__eyes__l-eye {
  border-radius: 30% 50% 20% 40%;
}
.hero__head__eyes__r-eye {
  border-radius: 50% 30% 40% 20%;
}
.hero__head__eyes__r-eye::before, .hero__head__eyes__r-eye::after {
  content: "";
  position: absolute;
  top: 15%;
  width: 10%;
  height: 60%;
  background-color: rgb(78, 56, 26);
  border-radius: 50%;
}
.hero__head__eyes__r-eye::before {
  right: 28%;
}
.hero__head__eyes__r-eye::after {
  left: 28%;
}
.hero__head__mouth {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 55%;
  width: 50%;
  height: 20%;
  border-radius: 40% 40% 30% 30%/20% 20% 10% 10%;
  background-color: rgb(131, 98, 55);
}
.hero__head__mouth::before {
  content: "";
  position: absolute;
  top: 45%;
  background-color: black;
  height: 12%;
  width: 60%;
}
.hero__body {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 22%;
  width: 90%;
  height: 50%;
}
.hero__body__cape, .hero__body__cape::before {
  position: absolute;
  width: 100%;
  background-color: black;
}
.hero__body__cape {
  height: 80%;
  border-radius: 40% 40% 10% 10%/100% 100% 0 0;
}
.hero__body__cape::before {
  content: "";
  height: 100%;
  top: 99%;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 98% 30%, 70% 2%, 55% 30%, 45% 30%, 30% 2%, 2% 30%);
          clip-path: polygon(0% 0%, 100% 0%, 98% 30%, 70% 2%, 55% 30%, 45% 30%, 30% 2%, 2% 30%);
}
.hero__body__torso {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 31%;
  height: 84%;
  background-color: rgb(31, 29, 29);
  border-radius: 25% 25% 50% 50%/20% 20% 60% 60%;
}
.hero__body__torso__chest::before, .hero__body__torso__chest::after {
  content: "";
  position: absolute;
  top: 20%;
  width: 50%;
  height: 10%;
  border-bottom: 3px solid black;
}
.hero__body__torso__chest::before {
  left: -1%;
  border-right: 3px solid black;
  border-radius: 0 0 50% 20%/0 0 50% 20%;
}
.hero__body__torso__chest::after {
  right: -1%;
  border-left: 3px solid black;
  border-radius: 0 0 20% 50%/0 0 20% 50%;
}
.hero__body__torso__belly-top::before, .hero__body__torso__belly-top::after {
  top: 40%;
  width: 30%;
  height: 6%;
}
.hero__body__torso__belly-top::before {
  left: 19%;
  border-right: 2px solid black;
  border-radius: 0 0 50% 20%/0 0 50% 20%;
}
.hero__body__torso__belly-top::after {
  right: 19%;
  border-left: 2px solid black;
  border-radius: 0 0 20% 50%/0 0 20% 50%;
}
.hero__body__torso__belly-middle::before, .hero__body__torso__belly-middle::after {
  top: 45%;
  width: 25%;
  height: 6%;
}
.hero__body__torso__belly-middle::before {
  left: 24%;
  border-right: 2px solid black;
  border-radius: 0 0 50% 20%/0 0 50% 20%;
}
.hero__body__torso__belly-middle::after {
  right: 24%;
  border-left: 2px solid black;
  border-radius: 0 0 20% 50%/0 0 20% 50%;
}
.hero__body__torso__belly-bottom::before, .hero__body__torso__belly-bottom::after {
  top: 50%;
  width: 20%;
  height: 6%;
}
.hero__body__torso__belly-bottom::before {
  left: 29%;
  border-right: 2px solid black;
  border-radius: 0 0 50% 20%/0 0 50% 20%;
}
.hero__body__torso__belly-bottom::after {
  right: 29%;
  border-left: 2px solid black;
  border-radius: 0 0 20% 50%/0 0 20% 50%;
}
.hero__body__torso__belly-top::before, .hero__body__torso__belly-top::after, .hero__body__torso__belly-middle::before, .hero__body__torso__belly-middle::after, .hero__body__torso__belly-bottom::before, .hero__body__torso__belly-bottom::after {
  content: "";
  position: absolute;
  border-bottom: 2px solid black;
}
.hero__body__torso__belt {
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 65%;
  width: 90%;
  height: 10%;
  background-color: rgb(37, 59, 35);
  border-radius: 10%;
  z-index: 5;
}
.hero__body__torso__belt__badge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 160%;
  width: 50%;
  background-color: rgb(77, 34, 32);
  border-radius: 50%;
}
.hero__body__torso__belt__badge .ti {
  font-size: 5vh;
  color: rgb(228, 209, 36);
}
.hero__body__l-hand, .hero__body__r-hand {
  position: absolute;
  top: -1%;
  width: 10%;
  height: 65%;
  background-color: rgb(31, 29, 29);
}
.hero__body__l-hand::before, .hero__body__r-hand::before {
  content: "";
  position: absolute;
  background-color: rgb(131, 98, 55);
  top: 95%;
  width: 65%;
  height: 20%;
}
.hero__body__l-hand {
  left: 23%;
  border-radius: 50% 10% 40% 40%/40% 10% 50% 50%;
  -webkit-transform: rotate(23deg);
          transform: rotate(23deg);
}
.hero__body__l-hand::before {
  left: 17%;
  -webkit-clip-path: polygon(20% 100%, 0 50%, 0 15%, 10% 0, 90% 0, 100% 15%, 100% 50%, 80% 75%, 65% 75%, 70% 50%, 50% 30%, 30% 50%, 30% 100%);
          clip-path: polygon(20% 100%, 0 50%, 0 15%, 10% 0, 90% 0, 100% 15%, 100% 50%, 80% 75%, 65% 75%, 70% 50%, 50% 30%, 30% 50%, 30% 100%);
}
.hero__body__r-hand {
  right: 23%;
  border-radius: 10% 50% 40% 40%/10% 40% 50% 50%;
  -webkit-transform: rotate(-23deg);
          transform: rotate(-23deg);
}
.hero__body__r-hand::before {
  right: 17%;
  -webkit-clip-path: polygon(20% 75%, 0 50%, 0 15%, 10% 0, 90% 0, 100% 15%, 100% 50%, 80% 100%, 70% 100%, 70% 50%, 50% 30%, 30% 50%, 35% 75%);
          clip-path: polygon(20% 75%, 0 50%, 0 15%, 10% 0, 90% 0, 100% 15%, 100% 50%, 80% 100%, 70% 100%, 70% 50%, 50% 30%, 30% 50%, 35% 75%);
}
.hero__legs {
  position: absolute;
  background: rgb(31, 29, 29);
  top: 53%;
  width: 40%;
  height: 50%;
  -webkit-clip-path: polygon(20% 0, 80% 0, 100% 100%, 80% 100%, 50% 25%, 20% 100%, 0 100%);
          clip-path: polygon(20% 0, 80% 0, 100% 100%, 80% 100%, 50% 25%, 20% 100%, 0 100%);
}/*# sourceMappingURL=style.css.map */